.custom-tooltip {
    background-color: white;
    border: 1px solid black;
    opacity: 1;
}

div[class*='react-tooltip-arrow'] {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}