.chartNode {
    border: 1px solid #E4E2E9;
    border-left: 5px solid #25A6F0;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chartNode_name {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-size: 16px;
}

.chartNode_values {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.orgChart .react-tooltip {
    padding: 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #d9d9d9;
    opacity: 1;
    max-height: 540px;
    width: 360px;
    overflow-y: auto;
}

.orgChart .panel {
    text-align: start;
}

.orgChart .ant-collapse-header {
    background-color: #d9d9d9;
}

.orgChart .ant-collapse-content-box {
    padding: 12px !important;
}