.button-group button,
.button-group button:hover {
    background-color: transparent !important;
    box-shadow: none;
    color: black !important;
    border: none;
}

.button-group button:focus {
    outline: none;
}